@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Yanone+Kaffeesatz:wght@200;400&display=swap');

:root {
    --black-color: #2C3639;
    --gray-color: #3F4E4F;
    --brown-color: #562B1A;
    --bright-brown-color: #895B49;
    --green-color: #508949;
    --white-color: #DCD7C9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: black;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: var(--white-color);
    overflow-y: hidden;
}

a {
    cursor: pointer;
    color: var(--white-color);
    text-decoration: none;
}

/*Header styles*/

header {
    display: flex;
    align-items: center;
    background: var(--brown-color);
    color: var(--white-color);
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

section p {
    margin: 16px 0;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.content:not(.footer .content):not(header .content) {
    margin-top: -70px;
}

header .content,
.left,
.left div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content {
    max-width: 1400px;
}

.left h1 {
    border-bottom: 1px solid var(--white-color);
    font-family: 'Merienda', cursive;
}

.logo {
    width: 40px;
    margin-right: 6px;
}

.links {
    margin-left: -3rem;
}

.links a {
    font-size: 2rem;
    text-transform: uppercase;
    transition: transform 0.3s ease-out;
    text-decoration: none;
}

.links a.active {
    font-size: 2.25rem;
    border-bottom: 1px solid var(--white-color);
}

.links a:hover,
.links a:focus      {
   font-size: 2.25rem;
}

.links a:not(:last-child) {
    margin-right: 12px;
}

.cart {
    width: 30px;
}

.user {
    display: flex;
    align-items: center;
}

.username {
    font-size: 1.5rem;
    margin-inline: 16px;
}

/*Greetings styles*/

.greetings .content {
    display: flex;
    justify-content: space-between;
}

.right {
    font-size: 1.5rem;
    padding: 64px;
    width: 70%;
    background: var(--black-color);
    color: var(--white-color);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: showRightToLeft .5s ease-in;
}

.right .center-align {
    text-align: center;
}

.right .right-align {
    text-align: right;
}

.right h1 {
    font-weight: normal;
    font-size: 2em;
    width: fit-content;
}

.right .small-text {
    margin-top: -8px;
    margin-bottom: 8px;
    display: block;
    text-align: right;
}

.small-text {
    font-size: .5em;
}

.me {
    width: 34%;
    height: 500px;
}

.scroller {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.scroller::-webkit-scrollbar {
    width: 10px;
    border-radius: 8px;
}

.scroller::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 8px;
}

.scroller::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.scroller section {
    height: 100vh;
    scroll-snap-align: start;
}

.button {
    text-decoration: none;
    color: var(--white-color);
    background: var(--brown-color);
    padding: 12px;
    border-radius: 8px;
}

.button:hover,
.button:focus {
    background: var(--white-color);
    color: var(--black-color);
    border: 2px solid var(--brown-color);
}

.about-me,
.project {
    font-size: 1.25rem;
}

.about-me {
    background: var(--black-color);
    color: var(--white-color);
}

.about-me h2 {
    border-bottom: 1px solid var(--white-color);
}

.about-me p {
    font-weight: 200;
    font-size: 1.2em;
}

.about-me span {
    font-weight: 400;
}

.even {
    border-left: 1px solid var(--white-color);
    padding-inline: 12px;
}

/*Project styles*/

.project {
    margin-bottom: 0;
    font-size: 1.5em;
    color: var(--black-color);
}

.project h2 {
    border-bottom: 1px solid var(--black-color);
}

.project p {
    margin-bottom: 3rem;
}

.project h4 {
    margin-bottom: 4px;
}

.content > .wrapper {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--black-color);
    border-radius: 8px;
    padding-bottom: 2rem;
}

ul {
    margin-left: 2rem;
}

ul > li {
    margin-bottom: 12px;
}

ol {
    margin-left: 2.5rem;
}

/*Footer styles*/

.footer {
    position: fixed;
    bottom: 0;
    transform: translateY(-70%);
    background: var(--gray-color);
    height: 40%;
    width: 50px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--white-color);
    border-radius: 12px;
}

.social {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.social a img {
    width: 30px;
}

@keyframes showRightToLeft {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
    }
}