.store {
    padding-top: 2rem;
    border-radius: 8px;
}

.store .content {
    min-height: 80vh;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.actions input,
.action input:focus,
.action input:active {
    width: 90%;
    border-radius: 12px;
    background-color: rgba(250, 250, 250, 0.3);
    color: var(--brown-color);
    border: 1px solid var(--gray-color);
    outline: none;
    padding: 8px 12px;
}

.btn {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--green-color);
}

.success {
    color: white;
    background-color: var(--green-color);
}

.success:hover,
.success:focus {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    background-color: var(--white-color);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.item-card {
    border-radius: 12px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.item-card * {
    margin: 0;
}

.item-img {
    height: 180px;
    width: 100%;
    border-radius: 16px;
}