<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:src="@{~/images/coffee.png}">
    <link th:href="@{~/css/index.css}" rel="stylesheet">
    <link th:href="@{~/css/store.css}" rel="stylesheet">
    <link th:href="@{~/css/item.css}" rel="stylesheet">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<section class="item">
    <div class="content">
        <form action="/blog/add" method="post">
            <img id="img-preview" >
            <input type="file" name="image" id="image" accept="image/png, image/jpeg" />
            <input type="text" name="title" placeholder="Название...">
            <textarea name="description" placeholder="Описание..."></textarea>
            <button class="btn success" type="submit">Добавить</button>
        </form>
    </div>
</section>

<!--<footer th:insert="~{blocks/footer :: footer}"></footer>-->
<script th:src="@{~/js/imagePreview.js}"></script>
</body>
</html>