<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Coffee Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:src="@{~/images/coffee.png}">
    <link th:href="@{~/css/index.css}" rel="stylesheet">
    <link th:href="@{~/css/store.css}" rel="stylesheet">
    <link th:href="@{~/css/item.css}" rel="stylesheet">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<section class="item">
    <div class="content">
        <form action="/store/add" method="POST" enctype="multipart/form-data">
            <img id="img-preview" th:src="@{~/images/no_image.jpg}">
            <input name="file" type="file" id="selectedFile" style="display: none;" />
            <input id="image" type="button" value="Выбрать..." onclick="document.getElementById('selectedFile').click();" />
            <input type="text" name="title" placeholder="Название...">
            <input name="price" type="number" min="0.1" step="0.1" placeholder="Цена..."/>
            <textarea name="description" placeholder="Описание..."></textarea>
            <button class="btn success" type="submit">Добавить</button>
        </form>
    </div>
</section>

<!--<footer th:insert="~{blocks/footer :: footer}"></footer>-->
<script th:src="@{~/js/imagePreview.js}"></script>
</body>
</html>